
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductTeamLoginSuccessfull</title>
</head>
<body>
    <div>
        @{
            if (Session["uname"].ToString() != string.Empty && Session["uname"] != null)
            {

                <h1>Welcome @Session["uname"],</h1>
                <br />
                <br />

                    <p style="text-align:right">
                        <button>@Html.ActionLink("Change Password", "ChangePasswordProductTeam")</button>
                        <button>@Html.ActionLink("Sign Out", "Login")</button>

                    </p>

                <div>
                 
                        <div>

                            <center>

                                <table border='1'>
                                    <tr>
                                        
                                        <th>Complaint Id</th>
                                        <th>Username</th>
                                        <th>Complaint</th>
                                        <th>Complaint Status</th>
                                    </tr>
                                    
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                       <td>@item.ComplaintId</td> 
                                       <td>@item.Username</td>
                                        <td>@item.Complaint</td>
                                        <td>@item.ComplaintStatus</td>
                                        <td><button>@Html.ActionLink("Resolve", "ResolveComplaint", new { Id = item.Id }) </button></td>
                                        @*<td>@Html.ActionLink("Resolve Complaint", "Resolve", new { Id = item.Id })</td>*@
                                    </tr>
                                        }
                                </table>
                            </center>

                        </div>
                    


                </div>
            }
        }
    </div>
</body>
</html>
